<launch>
  <arg name="lidar_topic" default="/base_scan"/>
  <arg name="manager_topic" default="/pr2_head_manager/proximity/pr2_head_manager_msgs_Point"/>

  <node name="proximity_sensing" pkg="proximity_sensing" type="proximity_sensing_node" output="screen" args="$(arg lidar_topic) $(arg manager_topic)"/>
</launch>